/*-------------------------------------------------------------------------------------------*/
/*                                 TABLE OF CONTENT                                         */
/*-----------------------------------------------------------------------------------------*/
/* 
1 - RESET CSS
2 - GENERAL CSS STYLING (BODY, LINKS, LISTS, HEADINGS, TABLES, CODE, WRAPPER, CONTAINER)
3 - HEADER
4 - SECTIONS
5 - RECIPE PAGES
6 - FOOTER
*/

 /*--------------------------------------------------------------------------------------*/
 /*                     2 - GENERAL CSS FOR STYLING                                      */
 /*-------------------------------------------------------------------------------------*/
* {
    background-color: #FFF9EB;
    text-transform: lowercase;
}

a {
    font-family: "Atkinson Hyperlegible", "Verdana", sans-serif;
    font-size: 20px;
    letter-spacing: .25em;
    background-color: transparent;
}

p, ul, li {
    font-family: "Assistant", "Tahoma", sans-serif;
    font-size: 16px;
    letter-spacing: .025em;
    line-height: 23px;
    background-color: transparent;
}

.info_box {
    display: flex; /* allows for side-to-side squished instead of top-down spread out*/
    align-items: center;
    justify-content: center;
}

img {
    margin: 0 auto;
    width: 60%;
}

.details {
    flex: 1; /* makes the details element grow to fill the available space */
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 2
}

.body {
    width: 40%;
    float: right;
    margin: 53px;
}

 /*--------------------------------------------------------------------------------------*/
 /*                     3 - HEADER CSS STYLES                                           */
 /*-------------------------------------------------------------------------------------*/

.menu_bar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF9EB; /* Optional */
    z-index: 999; /* Optional */

}

h1 {
    margin: 30px auto;
    color: #755742;
    font-family: "Atkinson Hyperlegible", "Verdana", sans-serif;
    letter-spacing: .10em;
    font-size: 27px;
    text-align: center;
    font-weight: 500;
}


/* TODO: how to make it so that all links under menu bar have the following styles? */
a#back-to-home-header:link { text-decoration: none; }
a#back-to-home-header:visited { text-decoration: none; }
a#back-to-home-header:hover { text-decoration: none; }
a#back-to-home-header:active { text-decoration: none; }

h2 {
    font-family: "Atkinson Hyperlegible", "Verdana", sans-serif;
    font-size: 28px;
    letter-spacing: .20em;
    font-weight: lighter;
    background-color: transparent;
}

h3 {
    font-family: "Atkinson Hyperlegible", "Verdana", sans-serif;
    font-size: 21px;
    letter-spacing: .15em;
    font-weight: lighter;
    width: 172px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h4 {
    color: #CEB495;
    font-family: "Atkinson Hyperlegible", "Verdana", sans-serif;
    font-size: 14px;
    letter-spacing: .025em;
    font-weight: bold;
    
}

/*-----------------------------------------------------------------------------*/
/*                     4 - SECTIONS                                           */
/*-----------------------------------------------------------------------------*/

@media (max-width: 600px) {
    .info_box {
        flex-direction: column;
        align-items: center;
    }

    .banner {
        width: 100%;
        order: 2;
    }

    .details {
        order: 1;
        padding: 40px 40px 40px 40px;
    }

}

#first_info_box {
    margin-top: 99px;
}

/*Honey Milk*/
#honey_milk_details {
    background-color: #FFF2D4;
    
}

#honey_milk_details *{
    color: #c39967;
    order: 2;
}

#honey_milk_banner {
    order: 1;
}


/*Matcha Latte*/
.details#matcha_latte_details {
    background-color: #86A96F;
}

#matcha_latte_details *{
    color: #D6E8CA;
}

#matcha_latte_banner {
    float: right;
    order: 2;
}


/* Wintermelon Milk */
.details#wintermelon_milk_details {
    background-color: #CEB495;
    float: right;
}

#wintermelon_milk_details *{
    color: #755742;
}

#wintermelon_milk_banner {
    order: 1; 
}


/* hot chocolate */
.details#hot_chocolate_details {
    background-color: #755742;
}

#hot_chocolate_details *{
    color: #CEB495;
}

#hot_chocolate_banner {
    order: 2;
}

/*--------------------------------------------------------------------------*/
/*                     5 - RECIPE PAGES                                     */
/*--------------------------------------------------------------------------*/


/* TODO: Make image not stretch/squish */
.top_banner {
    width: 100%;
    height: 300px;
    margin-bottom: 0;
}

/*Carousel*/
.container {
    aspect-ratio: 1 / 1; 
    background-color: red;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
}

.slider {
    width: 80%; /*try fitting the width to the width of the image*/
    height: 80%;
    border-radius: 10px;
    overflow: hidden; /*hides content that doesn't get included in the width*/
    position: relative;
}

.slides{
    width: 500%;
    display: flex;
}

.slides input{
    display: none; /*hides the radio buttons*/
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex; 
    justify-content: center;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10%;
}

.manual-btn{
    border: .2em solid white; /*determines wht the border of the radio button looks like*/
    padding: 2%; /*how big the button is*/
    border-radius: 100%; /*not sure what this does, in the video the button gets rounder*/
    cursor: pointer; /*makes it so that when u hover over the buttons, the hand appears*/
    transition: 1s;
    background-color: transparent;
}

.manual-btn:not(:last-child){
    margin-right: 20%; /*want to do this to everyone except the last child so that the buttons aren't off center*/
}

.manual-btn:hover{
    background: white; /*on hover, button's fill becomes white*/
}

#radio1:checked ~ .navigation #manual1{
    background: white;
}
#radio2:checked ~ .navigation #manual2{
    background: white;
}
#radio3:checked ~ .navigation #manual3{
    background: white;
}

/*clicked each button moves the picture on screen using margin*/
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%; /*don't want to change the 20% and 40% no matter the dimensions*/
}

#radio3:checked ~ .first{
    margin-left: -40%;
}
/*Carousel end*/

.main_content {
    width: 90%;
    display: flex;
    flex: wrap;
    padding-bottom: 184px;    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    margin-top: -10px;
}

@media (max-width: 600px) {
    .main_content {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: 100%;
        height: 30%; 
    }

}

ol {
    background-color: transparent;
}


.main_body {
    width: auto;
    margin-left: 8%;
    background-color: transparent;
    flex: 1;
}

.closure {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;

}


/* Honey Milk */
#honey_milk_carousel {
    background-color: #FFF2D4;
}

#honey_milk_body {
    color: #c39967;
}

.honey_milk_h3 {
    background-color: #F9EFDD;
}

#honey_milk_closure {
    background-color: #FFF2D4;
}

/* Matcha Latte */
#matcha_carousel {
    background-color: #86A96F;
}

#matcha_main_content {
    background-color: #D6E8CA;
    color: #86A96F;
}

.matcha_h3 {
    background-color: #C6DBB8;
}

#matcha_latte_closure {
    color: #D6E8CA;
    background-color: #86A96F;
}

/* Wintermelon Milk*/
#wintermelon_milk_carousel {
    background-color: #CEB495;
}

#wintermelon_milk_main_content {
    color: #CEB495;
}

.wintermelon_milk_h3 {
    background-color: #F9EFDD;
}

#wintermelon_milk_closure {
    background-color: #CEB495;   
    color: #F9EFDD;
}

/* Hot Chocolate */
#hot_chocolate_carousel {
    background-color: #755742;
}

#hot_chocolate_main_content, 
#hot_chocolate_body {
    color: #755742;
    background-color: #C4AFA1;
}

.hot_chocolate_h3 {
    background-color: #B49D8E;
}

#hot_chocolate_closure {
    background-color: #755742;
    color: #C4AFA1;
}
 /*--------------------------------------------------------------------------*/
 /*                     6 - FOOTER                                           */
 /*--------------------------------------------------------------------------*/

 #back-to-top {
    display: flex;
    align-content: center;
    justify-content: center;

    color: #755742;
    font-family: "Atkinson Hyperlegible", "Verdana", sans-serif;
    letter-spacing: .25em;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    
    padding: 20px 20px;
 }


 