/* TODO: 
Make a carousel
Carousel for all 4
color correcting
proper layout
update h4? for wintermelon
resize images (matcha, wm, hc)
replace said images
investigate flex wrap as a possible option to mobile friendly homepage
possibly enlarge all fonts, bolding ingredients and title*/

/* Additional update note to myself
Honey milk & matcha are done asides from the carousel p much */



/*-------------------------------------------------------------------------------------------*/
/*                                 TABLE OF CONTENT                                         */
/*-----------------------------------------------------------------------------------------*/
/* 
1 - RESET CSS
2 - GENERAL CSS STYLING (BODY, LINKS, LISTS, HEADINGS, TABLES, CODE, WRAPPER, CONTAINER)
3 - HEADER
4 - SECTIONS
5 - FOOTER
*/

 /*--------------------------------------------------------------------------------------*/
 /*                     2 - GENERAL CSS FOR STYLING                                      */
 /*-------------------------------------------------------------------------------------*/
* {
    background-color: #FFF9EB;
    text-transform: lowercase;
}

a {
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    letter-spacing: .25em;
    background-color: transparent;
}

p, ul, li {
    font-family: "Tahoma", sans-serif;
    font-size: 15px;
    letter-spacing: .025em;
    background-color: transparent;
}

.info_box {
    display: flex; /* allows for side-to-side squished instead of top-down spread out*/
    align-items: center;
    justify-content: center;
}

img {
    margin: 0 auto;
    width: 60%;
}

.details {
    flex: 1; /* makes the details element grow to fill the available space */
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    order: 2
}

.body {
    width: 40%;
    float: right;
    margin: 53px;
}

 /*--------------------------------------------------------------------------------------*/
 /*                     3 - HEADER CSS STYLES                                           */
 /*-------------------------------------------------------------------------------------*/

h1 {
    margin: 30px auto;
    color: #755742;
    font-family: "Verdana", sans-serif;
    letter-spacing: .10em;
    font-size: 27px;
    text-align: center;
    font-weight: 500;
}

a#back-to-home-header:link { text-decoration: none; }
a#back-to-home-header:visited { text-decoration: none; }
a#back-to-home-header:hover { text-decoration: none; }
a#back-to-home-header:active { text-decoration: none; }

h2 {
    font-family: "Verdana", sans-serif;
    font-size: 22px;
    letter-spacing: .20em;
    font-weight: bold;
    background-color: transparent;
}

h3 {
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    letter-spacing: .15em;
    font-weight: bold;
    width: 172px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h4 {
    
}

 /*-----------------------------------------------------------------------------*/
 /*                     4 - SECTIONS                                           */
 /*-----------------------------------------------------------------------------*/

/*Honey Milk*/
#honey_milk_details {
    background-color: #FFF2D4;
    
}

#honey_milk_details *{
    color: #CEB495;
    order: 2;
}

#honey_milk_banner {
    order: 1;
}


/*Matcha Latte*/
#matcha_carousel {
    background-color: #86A96F;
}

.details#matcha_latte_details {
    background-color: #86A96F;
}

#matcha_latte_details *{
    color: #D6E8CA;
}

#matcha_latte_banner {
    float: right;
    order: 2;
}


/* Wintermelon Milk */
.details#wintermelon_milk_details {
    background-color: #CEB495;
    float: right;
}

#wintermelon_milk_details *{
    color: #755742;
}

#wintermelon_milk_banner {
    order: 1; 
}


/* hot chocolate */
.details#hot_chocolate_details {
    background-color: #755742;
}

#hot_chocolate_details *{
    color: #CEB495;
}

#hot_chocolate_banner {
    order: 2;
}

/*--------------------------------------------------------------------------*/
/*                     5 - RECIPE PAGES                                     */
/*--------------------------------------------------------------------------*/

.main_content {
    width: 100%;
    display: flex;
    padding-bottom: 184px;    
    padding-left: 5%;
    padding-right: 5%;
}

ol {
    background-color: transparent;
}

.main_body {
    width: 37%;
    margin-left: 8%;
    background-color: transparent;

}

.closure {
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
}

.carousel {
    aspect-ratio: 1 / 1;
    overflow: auto;
    width: 30%;
    height: 40%;
    background-color: red;
    padding: 88px 73px 88px 73px;
}

.carousel_pictures {
    display: flex;
}

.pictures {
    width: 536px;
}

/* Honey Milk */
#honey_milk_carousel {
    background-color: #FFF2D4;
}

#honey_milk_body {
    color: #E2C5A3;
}

.honey_milk_h3 {
    background-color: #F9EFDD;
}

#honey_milk_closure {
    background-color: #FFF2D4;
}

/* Matcha Latte */
#matcha_main_content {
    background-color: #D6E8CA;
    color: #86A96F;
}

.matcha_h3 {
    background-color: #C6DBB8;
}

#matcha_latte_closure {
    color: #D6E8CA;
    background-color: #86A96F;
}

/* Wintermelon Milk*/
/* wondering if i should just have h4 cover for it since there's only one h4*/


 /*--------------------------------------------------------------------------*/
 /*                     6 - FOOTER                                           */
 /*--------------------------------------------------------------------------*/

 #back-to-top {
    display: flex;
    align-content: center;
    justify-content: center;

    color: #755742;
    font-family: "Verdana", sans-serif;
    letter-spacing: .25em;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    
    padding: 20px 20px;
 }


 